<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/operators">Operators</a></li>
    </ul>
    <h1>Home Page</h1>
    <img src="static/PythonLogo.png" alt="python_logo">
    <img src="static/python_snake.jpg" alt="python_snake">
</body>
</html>