<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loops</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <li><a href="/">Home</a></li>
    <li><a href="/operators">Operators</a></li>
<h1>Loops</h1>
    <div class="container">
        <div class="card" style="width: 30rem;">
            <div class="card-body">
                <h5 class="card-title">For Loops</h5>
                <p class="card-text">
                    A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
            This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.
            With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.
           
                </p>
            </div>
        </div>
    
    
           
            <div class="card" style="width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">While Loops</h5>
                    <p class="card-text">With the while loop we can execute a set of statements as long as a condition is true.  When the condition becomes false, program control passes to the line immediately following the loop.</p>
                    
                </div>
    
            </div>
            <div class="card" style="width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">Range</h5>
                    <p class="card-title">The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.</p>
                </div>
            </div>
    </div>
</body>
</html>