<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operators</title>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/loops">Loops</a></li>
    </ul>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <h1>Operators</h1>
    <ul>
        {% for x in opers%}
        <b>{{x.title}}</b>
        <li>Description: {{x.description}}</li>
        <li>Symbol: {{x.symbol}}</li>
        <li>Example: {{x.example}}</li>
        <li>Uses: {{x.uses}}</li>
        <br />
        {% endfor %}
    </ul>
 
        <h3>Add New Operator</h3>
            <div class="container">
                <form action="/operators" method="POST">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" name="title">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea name="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Symbol</label>
                        <input type="text" name="symbol">
                    </div>
                    <div class="form-group">
                        <label>Example</label>
                        <input type="text" name="example">
                    </div>
                    <div class="form-group">
                        <label>Uses</label>
                        <input type="text" name="uses">
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
</body>

</html>